{% extends 'base.html' %}

{% block title %}{{ page_title }} | PingFederate OAuth/Authn API Demo Page{% endblock %}

{% block content %}

    {% block main %}
    <div class="container">
        <h1 class="heading">{{ page_title }}</h1>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Current Flow ID = {{ flow_data.flowid }}</h3>
                <h3>Current Status = {{ flow_data.status }}</h3>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    {% endblock %}
   
    {% block data %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Request Data</h3>
                <pre>{{ flow_data._request }}</pre>
            </div>
            <div class="col-md-6">
                <h3>Response Data</h3>
                <pre>{{ flow_data._response }}</pre>
            </div>
        </div>
    </div>
    {% endblock %}
   
{% endblock %}