{% extends 'authn_api.html' %}

{% block title %}BORK BORK BORK{% endblock %}

{% block main %}
  <div class="container">
    <h1 class="heading">That shouldn't have happened</h1>
    <p>Or maybe it should have. This is my catchall page.</p>
  </div>
  {{ super() }}
{% endblock %}
