<img alt="M&T Tech" src="{{url_for('static', filename='images/mtbtechlogo.png')}}">
<div>Icons made by <a href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>