{% extends 'authn_api_form.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/hashtable.js') }}" language="JavaScript" type="text/javascript"> </script>
  <script src="{{ url_for('static', filename='js/rsa.js') }}" language="JavaScript" type="text/javascript"> </script>
{% endblock %}

{% block main %}
  {{ super() }}
    <script type="text/javascript">
      document.getElementById("device_fingerprint").value = encode_deviceprint();
    </script>
{% endblock %}
