{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}PingFederate OAuth/Authn API Demo Page{% endblock %}

{% block content %}
{{super()}}
  <div class="container">
    <h1 class="heading">PingFederate OAuth/Authn Demo Page</h1>
  </div>

  <div class="container">
    <div>
      <p>Proceed to <a href="{{ url_for('initiate_authn')}}">Start API Authn Flow</a></p>
    </div>
  </div>
{% endblock %}

{% block data %}

{% endblock %}
