<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <div class="nav navbar-nav navbar-left">
            <a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/layout24.png') }}" alt=""></a>
            <p class="navbar-text">CIAM the Walrus OAuth/OIDC Demo App</p>    
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li role="presentation"><a href="{{ url_for('home') }}">Home</a></li>
        </ul>          
    </div>
</nav>
