{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ page_title }} | PingFederate OAuth/Authn API Demo Page{% endblock %}

{% block content %}

    {% block main %}
    <div class="container">
        <h1 class="heading">OAuth/OIDC Information</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <pre>{{ flow_data.token }}</pre>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    {{ wtf.quick_form(form, novalidate=True) }}
                </div>    
            </div>
        </div>
    </div>
    {% endblock %}
   
    {% block data %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3>Request Data</h3>
                <pre>{{ flow_data._request }}</pre>
            </div>
            <div class="col-md-6">
                <h3>Response Data</h3>
                <pre>{{ flow_data._response }}</pre>
            </div>
        </div>
    </div>
    {% endblock %}

{% endblock %}